GO
USE [Archivio]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Attiva] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clienti]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clienti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RagioneSociale] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Attivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documenti]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documenti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titolo] [nvarchar](255) NOT NULL,
	[Descrizione] [nvarchar](max) NULL,
	[CategoriaId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[NomeFile] [nvarchar](255) NOT NULL,
	[Stato] [nvarchar](50) NOT NULL,
	[DataCreazione] [datetime] NOT NULL,
	[DataUltimaModifica] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorie] ON 

INSERT [dbo].[Categorie] ([Id], [Nome], [Attiva]) VALUES (1, N'Fatture Clienti', 1)
INSERT [dbo].[Categorie] ([Id], [Nome], [Attiva]) VALUES (2, N'Fatture Fornitori', 1)
INSERT [dbo].[Categorie] ([Id], [Nome], [Attiva]) VALUES (3, N'Contratti Commerciali', 1)
SET IDENTITY_INSERT [dbo].[Categorie] OFF
GO
SET IDENTITY_INSERT [dbo].[Clienti] ON 

INSERT [dbo].[Clienti] ([Id], [RagioneSociale], [Email], [Attivo]) VALUES (1, N'Acme Corporation S.r.l.', N'info@acme.it', 1)
INSERT [dbo].[Clienti] ([Id], [RagioneSociale], [Email], [Attivo]) VALUES (2, N'Rossi Consulting S.p.A.', N'segreteria@rossiconsulting.com', 1)
INSERT [dbo].[Clienti] ([Id], [RagioneSociale], [Email], [Attivo]) VALUES (3, N'TecnoSoluzioni di Verdi Luca', N'luca.verdi@tecnosoluzioni.it', 1)
SET IDENTITY_INSERT [dbo].[Clienti] OFF
GO
SET IDENTITY_INSERT [dbo].[Documenti] ON 

INSERT [dbo].[Documenti] ([Id], [Titolo], [Descrizione], [CategoriaId], [ClienteId], [NomeFile], [Stato], [DataCreazione], [DataUltimaModifica]) VALUES (1, N'Fattura Elettronica F2026-01', N'Fattura per servizi di consulenza IT', 1, 1, N'F2026-01.pdf', N'Archiviato', CAST(N'2026-01-15T10:30:00.000' AS DateTime), CAST(N'2026-01-15T11:00:00.000' AS DateTime))
INSERT [dbo].[Documenti] ([Id], [Titolo], [Descrizione], [CategoriaId], [ClienteId], [NomeFile], [Stato], [DataCreazione], [DataUltimaModifica]) VALUES (2, N'Contratto Quadro Fornitura', N'Contratto annuale per servizi cloud', 3, 2, N'contratto_quadro_rossi.pdf', N'Archiviato', CAST(N'2026-01-20T09:00:00.000' AS DateTime), CAST(N'2026-01-22T15:45:00.000' AS DateTime))
INSERT [dbo].[Documenti] ([Id], [Titolo], [Descrizione], [CategoriaId], [ClienteId], [NomeFile], [Stato], [DataCreazione], [DataUltimaModifica]) VALUES (3, N'Preventivo Sviluppo Sito Web', N'Offerta commerciale per rifacimento portale', 7, 3, N'prev_sito_verdi.pdf', N'Pubblicato', CAST(N'2026-02-02T14:20:00.000' AS DateTime), CAST(N'2026-02-03T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Documenti] OFF
GO
ALTER TABLE [dbo].[Categorie] ADD  CONSTRAINT [DF_Categorie_Attiva]  DEFAULT ((1)) FOR [Attiva]
GO
ALTER TABLE [dbo].[Clienti] ADD  CONSTRAINT [DF_Clienti_Attivo]  DEFAULT ((1)) FOR [Attivo]
GO
ALTER TABLE [dbo].[Documenti] ADD  CONSTRAINT [DF_Documenti_Stato]  DEFAULT ('Bozza') FOR [Stato]
GO
ALTER TABLE [dbo].[Documenti] ADD  CONSTRAINT [DF_Documenti_DataCreazione]  DEFAULT (getdate()) FOR [DataCreazione]
GO
ALTER TABLE [dbo].[Documenti] ADD  CONSTRAINT [DF_Documenti_DataUltimaModifica]  DEFAULT (getdate()) FOR [DataUltimaModifica]
GO
ALTER TABLE [dbo].[Documenti]  WITH CHECK ADD  CONSTRAINT [FK_Documenti_Categorie] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorie] ([Id])
GO
ALTER TABLE [dbo].[Documenti] CHECK CONSTRAINT [FK_Documenti_Categorie]
GO
ALTER TABLE [dbo].[Documenti]  WITH CHECK ADD  CONSTRAINT [FK_Documenti_Clienti] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clienti] ([Id])
GO
ALTER TABLE [dbo].[Documenti] CHECK CONSTRAINT [FK_Documenti_Clienti]
GO
/****** Object:  StoredProcedure [dbo].[sp_AggiornaAllegatoDocumento]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AggiornaAllegatoDocumento]
    @Id INT,
    @NomeFile NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Documenti WHERE Id = @Id)
    BEGIN
        UPDATE Documenti
        SET 
            NomeFile = @NomeFile,
            DataUltimaModifica = GETDATE()
        WHERE 
            Id = @Id;

        SELECT 1 AS Esito;
    END
    ELSE
    BEGIN
        SELECT 0 AS Esito;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AggiornaDocumento]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AggiornaDocumento]
    @Id INT,
    @Titolo NVARCHAR(255),
    @Descrizione NVARCHAR(MAX) = NULL, 
    @CategoriaId INT,
    @ClienteId INT,
    @NomeFile NVARCHAR(255),
    @Stato INT 
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Documenti
    SET 
        Titolo = @Titolo,
        Descrizione = @Descrizione,
        CategoriaId = @CategoriaId,
        ClienteId = @ClienteId,
        NomeFile = @NomeFile,
        Stato = @Stato,
        DataUltimaModifica = GETDATE() 
    WHERE 
        Id = @Id;

    SELECT @@ROWCOUNT AS RigheAggiornate;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategorieAttive]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCategorieAttive]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id, 
        Nome
    FROM 
        dbo.Categorie
    WHERE 
        Attiva = 1
    ORDER BY 
        Nome ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClientiAttivi]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetClientiAttivi]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id, 
        RagioneSociale,
        Email
    FROM 
        dbo.Clienti
    WHERE 
        Attivo = 1
    ORDER BY 
        RagioneSociale ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDocumenti]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDocumenti]
AS
BEGIN
   
    SET NOCOUNT ON;

    SELECT 
        d.Id,
        d.Titolo,
        d.Descrizione,
        d.CategoriaId,
        cat.Nome AS CategoriaNome,      
        d.ClienteId,
        cli.RagioneSociale AS ClienteRagioneSociale, 
        d.NomeFile,
        d.Stato,                        
        d.DataCreazione,
        d.DataUltimaModifica
    FROM 
        Documenti d
    INNER JOIN 
        Categorie cat ON d.CategoriaId = cat.Id
    INNER JOIN 
        Clienti cli ON d.ClienteId = cli.Id
    ORDER BY 
        d.DataCreazione DESC; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDocumentoDettaglio]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDocumentoDettaglio]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.Id,
        d.Titolo,
        d.Descrizione,
        d.CategoriaId,
        cat.Nome AS CategoriaNome,
        cat.Attiva AS CategoriaAttiva,
        d.ClienteId,
        cli.RagioneSociale AS ClienteRagioneSociale,
        cli.Email AS ClienteEmail,
        cli.Attivo AS ClienteAttivo,
        d.NomeFile,
        d.Stato, 
        d.DataCreazione,
        d.DataUltimaModifica
    FROM 
        Documenti d
    INNER JOIN 
        Categorie cat ON d.CategoriaId = cat.Id
    INNER JOIN 
        Clienti cli ON d.ClienteId = cli.Id
    WHERE 
        d.Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InserisciCategoria]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InserisciCategoria]
    @Nome NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO dbo.Categorie (
            Nome, 
            Attiva
        )
        VALUES (
            @Nome, 
            1 
        );

        SELECT SCOPE_IDENTITY() AS NuovoId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InserisciCliente]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InserisciCliente]
    @RagioneSociale NVARCHAR(255),
    @Email NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO dbo.Clienti (
            RagioneSociale, 
            Email, 
            Attivo
        )
        VALUES (
            @RagioneSociale, 
            @Email, 
            1 
        );

        SELECT SCOPE_IDENTITY() AS NuovoId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InserisciDocumento]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InserisciDocumento]
    @Titolo NVARCHAR(255),
    @Descrizione NVARCHAR(MAX) = NULL, 
    @CategoriaId INT,
    @ClienteId INT,
    @NomeFile NVARCHAR(255) = NULL,   
    @Stato NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO dbo.Documenti (
            Titolo, 
            Descrizione, 
            CategoriaId, 
            ClienteId, 
            NomeFile, 
            Stato, 
            DataCreazione, 
            DataUltimaModifica
        )
        VALUES (
            @Titolo, 
            @Descrizione, 
            @CategoriaId, 
            @ClienteId, 
            @NomeFile, 
            @Stato, 
            GETDATE(), 
            GETDATE()  
        );

        SELECT SCOPE_IDENTITY() AS NuovoId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RicercaDocumenti]    Script Date: 27/05/2026 15:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RicercaDocumenti]
    @CategoriaNome NVARCHAR(255) = NULL,   
    @ClienteRagioneSociale NVARCHAR(255) = NULL, 
    @Stato NVARCHAR(50) = NULL                   
AS
BEGIN
    SET NOCOUNT ON;

    SET @CategoriaNome = LTRIM(RTRIM(@CategoriaNome));
    SET @ClienteRagioneSociale = LTRIM(RTRIM(@ClienteRagioneSociale));
    SET @Stato = LTRIM(RTRIM(@Stato));

    IF @CategoriaNome = '' SET @CategoriaNome = NULL;
    IF @ClienteRagioneSociale = '' SET @ClienteRagioneSociale = NULL;
    IF @Stato = '' OR @Stato = 'Tutti' SET @Stato = NULL;

    SELECT 
        d.Id,
        d.Titolo,
        d.Descrizione,
        d.CategoriaId,
        cat.Nome AS CategoriaNome,
        d.ClienteId,
        cli.RagioneSociale AS ClienteRagioneSociale,
        d.NomeFile,
        d.Stato,
        d.DataCreazione,
        d.DataUltimaModifica
    FROM 
        Documenti d
    INNER JOIN 
        Categorie cat ON d.CategoriaId = cat.Id
    INNER JOIN 
        Clienti cli ON d.ClienteId = cli.Id
    WHERE 
        (@CategoriaNome IS NULL OR 
            REPLACE(cat.Nome, ' ', '') LIKE '%' + REPLACE(@CategoriaNome, ' ', '') + '%' COLLATE Latin1_General_CI_AI)
        
        AND (@ClienteRagioneSociale IS NULL OR 
            REPLACE(cli.RagioneSociale, ' ', '') LIKE '%' + REPLACE(@ClienteRagioneSociale, ' ', '') + '%' COLLATE Latin1_General_CI_AI)
        
        AND (@Stato IS NULL OR d.Stato = @Stato)
    ORDER BY 
        d.DataCreazione DESC;
END;
GO
USE [master]
GO
